<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores nesciunt
      molestias explicabo unde voluptas voluptatum, ad ea quam illo quis?
    </p>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores
        nesciunt molestias explicabo unde voluptas voluptatum, ad ea quam illo
        quis?
      </p>
    </header>
  </div>
</section>
